// size
$fullWidth: 100%;

// font
$font: 'Josefin Sans';
$title: 'Pacifico';

// base color
$nocolor: transparent;
$white: #ffffff;
$black: #000000;
$black_1: #434343;
$gray: #f6f6f6;

// web color
$main_color: #2EC3F2;
$second_color: #A92527;
$text_color: $black_1;
$title_color: #303030;
$border_color: #e3e3e3;

@import './mixin.scss';
